* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom right, #403f44, #1e1b32);
  background-repeat: no-repeat;
}

.content {
  width: 22rem;
  height: 33rem;
  border-radius: 0.4rem;
  overflow: hidden;
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translate(-50%);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.content .slide img {
  height: 100%;
  width: 100%;
}

.navigation {
  position: absolute;
  bottom: 1rem;
  left: 38.1rem;
  display: flex;
}

.bar {
  width: 0.8rem;
  height: 0.8rem;
  border: 2px solid white;
  margin: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  transform: 0.5s ease-in-out;
}

.bar:hover {
  background-color: #fff;
}

input {
  display: none;
}

.slides {
  display: flex;
  width: 1000%;
  height: 100%;
}

.slide {
  width: 20%;
  transition: 0.7s;
}

#slide1:checked ~ .s1 {
  margin-left: 0;
}

#slide2:checked ~ .s1 {
  margin-left: -12%;
}

#slide3:checked ~ .s1 {
  margin-left: -25%;
}

#slide4:checked ~ .s1 {
  margin-left: -48%;
}

#slide5:checked ~ .s1 {
  margin-left: -79%;
}

#slide6:checked ~ .s1 {
  margin-left: -104%;
}

#slide7:checked ~ .s1 {
  margin-left: -125%;
}

#slide8:checked ~ .s1 {
  margin-left: -145%;
}

#slide9:checked ~ .s1 {
  margin-left: -165%;
}

#slide10:checked ~ .s1 {
  margin-left: -186%;
}

@media {
  .navigation {
    bottom: 1rem;
    left: 9rem;
  }
} ;
